#yui-history-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

body{

}

.min-size{
    min-width: 200px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #eeeeee;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.ladderWinner{
    font-weight: bold;
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
    body{
        padding : 0;
    }

    h1 {
        font-size: 30px !important;
    }

    .logo {
        width: 50px;
    }
}