/* -------------------------------------------------- 
:: Shared Styles [SHA]
:: Login [LOG]
:: House Page [HOU]
*/

/* ------
   [SHA]
--------- */
#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
}


/* ------
   [LOG]
--------- */




/* ------
   [HOU]
--------- */


